

@import "bootstrap";
@import "override";
@import "topmenu";

.supernav {
  display: none !important;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  font-size: 16px;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}

body a {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}

.data-panel {
  margin-top: 0 !important;
  height: auto !important;
  min-height: 0;
}

.data-panel__inside {
  display: none;
}

.data-panel .background {
  position: relative;
  overflow: hidden;
}

.data-panel + footer {
  margin-top: 0 !important;
}

.row {
  max-width: 100%;

  .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.imageMaker {
  background: #222222;
  margin: 0 auto;
  min-height: 800px;

  .ctaBtn {
    border-radius: 0;
    margin-left: auto;
    margin-right: auto;
    border: none;
    display: block;
    width: 100%;
    max-width: 10rem;
    border-radius: 4px;
    background: #189bb0;

    &:hover {
      border: none;
    }
  }

  .imageMenuContainer {
    padding: 20px;
    
  }

  .imageMenu {
    background: #ffffff;
    padding: 15px 0;
    min-height: 700px;
    height: 700px;
    overflow-y: auto;
    box-shadow: rgba(20, 20, 20, 0.8) 0 20px 60px -10px;

    .imageMenuLogo {
      text-align: center;
      padding: 15px;
      background: #189bb0;
      background: -webkit-linear-gradient(to left, #16bdc8 20%, #189bb0 70%);
      background: -o-linear-gradient(to left, #16bdc8 20%, #189bb0 70%);
      background: -moz-linear-gradient(to left, #16bdc8 20%, #189bb0 70%);
      background: linear-gradient(to left, #16bdc8 20%, #189bb0 70%);

      img {
        width: 100%;
        max-width: 100px;
      }
    }

    .toggleAdvanced {
      display: block;
      font-family: SourceSansPro-Regular, arial, sans-serif;
      font-size: 0.85rem;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    label {
      font-family: SourceSansPro-Black, "Source Sans Pro Black", arial,
        sans-serif;
      color: #189bb0;
      font-size: 0.875rem;
      text-transform: capitalize;
    }

    label.text-label {
      font-size: 0.875rem;
      color: #bbbbbb;
      margin-bottom: 0;
    }

    input {
      margin-bottom: 25px;
      height: 2.5rem;
    }

    .hrInputs {
      background: transparent;
      border-top: 1px solid #dddddd;
      padding-bottom: 25px;
    }

    .inputContainer {
      padding: 10px 30px;
      background: transparent;
      margin-bottom: 20px;
      margin-bottom: 5px;
      border: none;

      textarea {
        margin-bottom: 10px;
        border-radius: 0;
        background: #ffffff;
        border: 1px solid #dddddd;
        border-left: 5px solid #dddddd;
        color: #6d6e71;
        padding: 15px 20px;
        border-left: 5px solid #dddddd;
        min-height: 0;
        font-size: 1rem;

        &:active,
        &:focus {
          background: #f6f6f6;
          color: #000000;
          border-left: 5px solid #189bb0;
          box-shadow: rgba(0, 0, 0, 0.5) 0 20px 60px -10px;
        }
      }
    }

    .selectWrapper {
      position: relative;
      margin-right: 7px;

      select {
        position: relative;
        height: 2.5rem;
        color: #242039;
        background: #ffffff;
        border: 1px solid #dddddd;
        border-radius: 0;
        font-family: SourceSansPro-Regular;
        font-size: 1rem;
        padding: 0.5rem 2.5rem 0.5rem 0.5rem;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

        &:active,
        &:focus {
          background: #f6f6f6;
          color: #000000;
          box-shadow: rgba(0, 0, 0, 0.5) 0 20px 60px -10px;
        }

        &:hover {
          cursor: pointer;
        }
      }

      &:after {
        position: absolute;
        display: block;
        background: #189bb0;
        color: #ffffff;
        content: "\e90c";
        font-family: "icomoon" !important;
        right: 0;
        top: 0;
        height: 2.5rem;
        padding: 12px;
        z-index: 3;
        border-radius: 0;
        pointer-events: none;
        font-size: 0.875rem;
      }
    }
  }

  .customUpload {
    input {
      font-family: SourceSansPro-Regular, arial, sans-serif;
    }
  }

  .imageContainer.previewImage {
    position: relative;
    left: 0;
  }

  .imageContainer {
    padding: 15px;
    max-width: 1250px;
    //margin: 0 auto;
    position: absolute;
    left: -99999999999px;

    .imagePost {
      position: relative;
      display: table;

      .textBox {
        position: relative;
        display: table-cell;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;

        &.fullscreen {
          vertical-align: middle;
          margin: 0 auto;

          .imageContent {
            margin: 0 auto;
          }
        }

        &.middleCenter {
          vertical-align: middle;
          margin: 0 auto;

          .imageContent {
            background: transparent !important;
            margin: 0 auto;
          }
        }

        &.centerLeft {
          vertical-align: middle;
          height: auto;
        }

        &.centerRight {
          vertical-align: middle;
          margin-left: auto;

          .imageContent {
            float: right;
          }
        }

        &.bottomLeft {
          vertical-align: bottom;

          .imageContent {
            float: left;
          }
        }

        &.topRight {
          vertical-align: top;

          .imageContent {
            float: right;
          }
        }

        &.topLeft {
          vertical-align: top;

          .imageContent {
            float: left;
          }
        }

        &.bottomRight {
          vertical-align: bottom;

          .imageContent {
            float: right;
          }
        }
      }

      .imageContent {
        position: relative;
        font-family: SourceSansPro-Regular, arial, sans-serif;
        color: #ffffff;
        padding: 30px;

        &::after {
          display: block;
          content: "";
          clear: both;
        }

        .h1 {
          font-family: SourceSansPro-Black, arial, sans-serif;
          font-size: 60px;
        }

        .h2 {
          font-family: SourceSansPro-Regular, arial, sans-serif;
          font-size: 45px;
        }

        .h3 {
          font-family: SourceSansPro-Light, arial, sans-serif;
        }
      }
    }

    .imageIcon {
      display: inline-block;

      img {
        display: block;
      }
    }

    .arcLogo {
      background: url("https://www2.arccorp.com/globalassets/arc-logos/corporate-logos/arc-logo-l-white.png")
        center center no-repeat;
      background-size: contain;
      position: absolute;
      margin: 30px;

      &.logoHide {
        display: none;
      }

      &.x-small {
        width: 40px;
        height: 18px;
      }

      &.small {
        width: 77px;
        height: 34px;
      }

      &.medium {
        width: 152px;
        height: 62px;
      }

      &.large {
        width: 236px;
        height: 94px;
      }

      &.topRight {
        top: 0;
        right: 0;
      }

      &.topLeft {
        top: 0;
        left: 0;
      }

      &.bottomLeft {
        bottom: 0;
        left: 0;
      }

      &.bottomRight {
        bottom: 0;
        right: 0;
      }

      &.teal {
        background: url("https://www2.arccorp.com/globalassets/arc-logos/corporate-logos/arc-logo-l-teal.png")
          center center no-repeat;
        background-size: contain;
      }

      &.black {
        background: url("https://www2.arccorp.com/globalassets/arc-logos/corporate-logos/arc-logo-l-black.png")
          center center no-repeat;
        background-size: contain;
      }

      &.white {
        background: url("https://www2.arccorp.com/globalassets/arc-logos/corporate-logos/arc-logo-l-white.png")
          center center no-repeat;
        background-size: contain;
      }

      &.gray {
        background: url("https://www2.arccorp.com/globalassets/arc-logos/corporate-logos/arc-logo-l-gray.png")
          center center no-repeat;
        background-size: contain;
      }
    }
  }
}
