@import "partials/fonts";

@import "partials/overrides";

@import "~bootstrap/scss/bootstrap";

@import "https://unpkg.com/react-bootstrap-typeahead/css/Typeahead.css";

label {
  color: #888888;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}

.topNav {
  position: relative;
  //box-shadow: 0 3px 20px rgba(0,0,0,0.16), 0 3px 20px rgba(0,0,0,0.23);
  border-bottom: 1px solid #ecf0f1;
  padding: 10px 15px;

  .arcLogo {
    height: 30px;
    margin-right: 7px;
  }

  .topNavBranding {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #868b8c;
  }
}

.loginPage {
  background: url("https://www2.arccorp.com/globalassets/homepage/redesign/slides/jumbotron_retina_atd.jpg")
    center center no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;

  &::after {
    background: #242039;
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    opacity: 0.7;
  }

  .card-body {
    padding-top: 40px;
    padding-bottom: 60px;
  }
}

.loginBox {
  position: relative;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border: none;
  z-index: 3;
}

.titleHeader {
  padding: 15px 15px;
  font-size: 30px;
  color: #ffffff;

  img {
    height: 30px;
    margin-right: 10px;
  }
}

.dashboardPage {
  background: #f3f5f7;
  padding: 15px;
  min-height: 100vh;
}

.dashboardWrapper {
  //background: white;
  box-sizing: border-box;
  resize: horizontal;
  overflow: auto;
  max-width: 100%;
}

.imageBox {
  //width: 100% !important;
  //height: auto !important;
  display: flex;
  zoom: 0.7;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.imageSection {
  padding: 15px;
}

.dashboardControlsTop {
  background: #ffffff;
  border-radius: 15px;
  margin-bottom: 40px;
  padding: 25px;
  border: 1px solid #dddddd;
}

.settingsSection {
  background: #ffffff;
  border-radius: 15px;
  padding: 25px;
  min-height: 300px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin-bottom: 15px;
}

#settingsSectionButton {
  font-weight: 700;
  font-size: 1.5rem;
}

.dropdown-item {
  font-size: 1.25rem;
}

.dropdown-menu {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

#settingsSectionButton {
  box-shadow: none;
}

.dropdown-toggle::after {
  margin-left: 0.5rem;
}

.settingsSelect {
  width: auto;
  margin-top: 5px;
  margin-right: 5px;
}

.settingsSection {
  .form-inline {
    label {
      color: #bbb;
      margin-top: 5px;
      font-size: 12px;
      justify-content: left;
    }
  }
}

.textBox {
  display: flex;
}

.textContentCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.unZoom {
  zoom: 1 !important;
}

.modal-open .modal {
  background: rgba(36, 32, 57, 0.7);
}

.dashboardControlsTop .sizeSelect {
  margin-top: 0;
  width: 70px;
  margin-right: 5px;
  height: 30px;
}
